body{
    margin: 20px;
}

header{
    border-bottom: 3px solid grey;
	width: 90%;
	padding: 10px;
	
}

#heading {
    height: 80px;
    width: 100%;
    
}
#heading h1{
    padding-left: 100px;
}
#img-heading {
    width: 70px;
    height: 70px;
    float: left;
}
ul li{
    list-style-type: none;
   
    padding-right: 70px;
    float: left;
}
ul li a{
    text-decoration: none;
    color: rgb(99, 94, 94);
    font-size: 16px;
}
.content{
    display: flex;
    flex-direction: row;
}
.content > div{
    padding: 0px;
}

.weather > img{
    width: 100px;
    height: 70px;
}
.weather h2{
    display: inline;
}
.img-section {
    position: relative;
    flex: 2;
    border: 0.5px solid rgb(99, 94, 94);
    
}
 .img-section-text{
    position: absolute;
    bottom:0;
	left: 0;
	width:100%;
    background-color:black;
	color:white;
	opacity:0.6; /* transparency */
	filter:alpha(opacity=60);
}
.weather{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*border: 0.5px solid rgb(99, 94, 94);*/

}
.weather .p{
    flex: 1 100%;
}
.weather .weather-img{
    flex: 1 100%;
}
.weather > div{
    flex:1;
}
.weather > p{
    color: black;
    line-height: ipx;
    font-size: 20px;
    padding-left: 20px;
}

.img-section img{
    width: 100%;
    height: 350px;
}


.container > div{
    padding: 10px;
   
    color: darkgray;
    border-bottom: 0.8px solid darkgrey;
}
.container .top-news{
    padding-bottom: 0.1%;
}
.top-news h4{
    color: dimgray;
}

